@import "../../global/global.scss";

#MobilePhone {

  label {
    @include labelBold();
    display: block;
    padding: 5px 0px;
  }

  input {
    @include textField(270px);
    display: block;
    float: left;
  }
}
