@import "../../global/global.scss";

#ConfirmEmailAddress {
  display: block;
  width: 100%;

  label {
    @include labelBold();
    padding: 5px 0px;
    width: 100%;
  }

  input {
    @include textField(270px);
    display: block;
    float: left;
  }
}
