/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
/* line 3, ConfirmEmailAddress.scss */
#ConfirmEmailAddress {
  display: block;
  width: 100%;
}
/* line 7, ConfirmEmailAddress.scss */
#ConfirmEmailAddress label {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  display: inline-block;
  position: relative;
  font-family: "Open Sans Bold";
  padding: 5px 0px;
  width: 100%;
}
/* line 13, ConfirmEmailAddress.scss */
#ConfirmEmailAddress input {
  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid #e3e3e3;
  width: 270px;
  height: 35px;
  display: block;
  float: left;
}
/* line 31, ../../global/global.scss */
#ConfirmEmailAddress input.focus {
  border: 1px solid #2377c5;
}
