/*
 * Fonts
 */
$OpenSans: 'Open Sans';
$OpenSansLight: 'Open Sans Light';
$OpenSansBold: 'Open Sans Bold';

/*
 * colors
 */
$black: #000;

$metlife_blue: #1a66b1;
$metlife_blue2: #0D7EC0;

$main_bg: #f2f2f2;
$main_font_color: #333333;

$footer: #104477;

/*
 * Generic block elements
 */
@mixin textField($width){
  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid #e3e3e3;
  width: $width;
  height: 35px;

  &.focus{
    border: 1px solid #2377c5
  }
}

@mixin label1(){
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  display: inline-block;
  position: relative;
}

@mixin labelBold(){
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  display: inline-block;
  position: relative;
  font-family: $OpenSansBold;
}

@mixin genericButton($width) {
  background-color: #8cb529;
  border: 1px solid #d0cdc7;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 10px 0px;
  width: $width;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin clearButton($width) {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  font-weight: 700;
  text-align: center;
  padding: 10px 0px;
  width: $width;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
