/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans Light";
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}
/* Reset CSS */
/* line 19, layout.scss */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
}

/* line 24, layout.scss */
html, body {
  font-family: "Open Sans";
  font-size: 14px;
  color: #333333;
  display: block;
  background-color: #f2f2f2;
  text-align: left;
  font-weight: 400;
}

/* line 34, layout.scss */
#app {
  padding: 70px 0px 0px 0px;
}

/* line 38, layout.scss */
.clear {
  display: block;
  clear: both;
}
