/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
/* line 3, RegistrationForm.scss */
#RegisterForm {
  display: block;
  padding-bottom: 40px;
}
/* line 7, RegistrationForm.scss */
#RegisterForm a {
  padding: 5px 0px;
  display: block;
}
/* line 14, RegistrationForm.scss */
#RegisterForm .RegistrationInformation label {
  display: block;
  width: 100%;
  padding: 5px 0px;
}
/* line 23, RegistrationForm.scss */
#RegisterForm .RegistrationFields div {
  padding-bottom: 10px;
}
/* line 26, RegistrationForm.scss */
#RegisterForm .RegistrationFields div:first-child {
  padding-top: 10px;
}
