@import "../../global/global.scss";

#RegisterForm {
  display: block;
  padding-bottom: 40px;

  a {
    padding: 5px 0px;
    display: block;
  }

  .RegistrationInformation {

    label {
      display: block;
      width: 100%;
      padding: 5px 0px;
    }
  }

  .RegistrationFields {

    div {
      padding-bottom: 10px;
    }
    div:first-child {
      padding-top: 10px;
    }
  }
}
