@import "../../global/global.scss";

#Progress {
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  padding: 25px 0px;

  a {
    height: 18px;
    width: 18px;
    border-radius: 12.75px;
    display: inline-block;
    border: 3.75px solid gray;
    line-height: 17px;
    font-size: 12px;
    font-weight: bold;
    color: gray;
  }

  a.blue {
    color: $metlife_blue2;
    border: 3.75px solid $metlife_blue2;
  }

  .ProgressLine {
    width: 228px;
    border-top:1px solid gray;
    display: inline-block;
    height: 3px;
  }
}
