/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
/* line 3, Progress.scss */
#Progress {
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  padding: 25px 0px;
}
/* line 10, Progress.scss */
#Progress a {
  height: 18px;
  width: 18px;
  border-radius: 12.75px;
  display: inline-block;
  border: 3.75px solid gray;
  line-height: 17px;
  font-size: 12px;
  font-weight: bold;
  color: gray;
}
/* line 22, Progress.scss */
#Progress a.blue {
  color: #0D7EC0;
  border: 3.75px solid #0D7EC0;
}
/* line 27, Progress.scss */
#Progress .ProgressLine {
  width: 228px;
  border-top: 1px solid gray;
  display: inline-block;
  height: 3px;
}
