@import "../../global/global.scss";

.h1 {
  font-family: $OpenSansLight;
  font-weight: 300;
  font-style: normal;
  font-size: 44px;
}

.h4 {
  font-size: 24px;
  color: #333333;
  font-family: inherit;
  font-weight: 400;
  padding: 5px 0px;
}
