/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
/* line 3, Heading.scss */
.h1 {
  font-family: "Open Sans Light";
  font-weight: 300;
  font-style: normal;
  font-size: 44px;
}

/* line 10, Heading.scss */
.h4 {
  font-size: 24px;
  color: #333333;
  font-family: inherit;
  font-weight: 400;
  padding: 5px 0px;
}
