@import "../../global/global.scss";

#Navigation {
  width: 35%;
  display: block;
  float: right;

  a {
    font-family: $OpenSansBold;
    font-size: 12px;
    color: #fff;
    padding: 28px 0;
    display: inline-block;
    margin-right: 12px;
  }
}
