/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
/* line 3, Navigation.scss */
#Navigation {
  width: 35%;
  display: block;
  float: right;
}
/* line 8, Navigation.scss */
#Navigation a {
  font-family: "Open Sans Bold";
  font-size: 12px;
  color: #fff;
  padding: 28px 0;
  display: inline-block;
  margin-right: 12px;
}
