@import "../../global/global.scss";

.LoginPage {
  padding: 20px;
}
.LoginPage-container {
  background-color: #2e8fc6;
  border: 1px solid #eee;
  border-radius: 6px;
  color: #fff;
  margin: 0;
  padding: 0px 30px 60px;
  width: 336px;
}
  .LoginPage-container section {
    margin: 0 0 40px;
  }
    .LoginPage-container label {
      display: inline-block;
      width: 100px;
    }
  .LoginPage-container input {
    color: #333;
  }
  .LoginPage-container button,
  .LoginPage-container a {
    background-color: #8cb529;
    border: 1px solid #d0cdc7;
    border-radius: 6px;
    color: #fff;
    font-weight: 700;
    height: 40px;
    padding: 10px 130px;
    text-decoration: none;
    text-transform: uppercase;
  }
