/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
/* line 3, LoginPage.scss */
.LoginPage {
  padding: 20px;
}

/* line 6, LoginPage.scss */
.LoginPage-container {
  background-color: #2e8fc6;
  border: 1px solid #eee;
  border-radius: 6px;
  color: #fff;
  margin: 0;
  padding: 0px 30px 60px;
  width: 336px;
}

/* line 15, LoginPage.scss */
.LoginPage-container section {
  margin: 0 0 40px;
}

/* line 18, LoginPage.scss */
.LoginPage-container label {
  display: inline-block;
  width: 100px;
}

/* line 22, LoginPage.scss */
.LoginPage-container input {
  color: #333;
}

/* line 25, LoginPage.scss */
.LoginPage-container button,
.LoginPage-container a {
  background-color: #8cb529;
  border: 1px solid #d0cdc7;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  height: 40px;
  padding: 10px 130px;
  text-decoration: none;
  text-transform: uppercase;
}
