/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
/* line 3, ToolTip.scss */
.ToolTipImage {
  display: inline-block;
  background-image: url("../leafs/ToolTip/tooltipimage.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  padding: 10px;
}

/* line 13, ToolTip.scss */
.ToolTipBox {
  display: inline-block;
  position: relative;
  width: 320px;
  padding: 15px;
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  box-shadow: 2px 2px 6px #999999;
}

/* line 27, ToolTip.scss */
.ToolTipBox:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -10px;
  top: 15px;
}

/* line 41, ToolTip.scss */
.ToolTipBox:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #CCCCCC;
  display: block;
  width: 0;
  z-index: 0;
  left: -11px;
  top: 15px;
}

/* line 55, ToolTip.scss */
#ToolTipText {
  font-family: "Open Sans Light";
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
}
