@import "../../global/global.scss";

header {

  background-image:url('../components/Header/MetLife_white.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: $metlife_blue;
  height: 70px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
