/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
/* line 3, Header.scss */
header {
  background-image: url("../components/Header/MetLife_white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1a66b1;
  height: 70px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
