@import "../../global/global.scss";

#ZipCode {
  label {
    @include labelBold();
    display: block;
    padding: 5px 0px;
  }

  input {
    @include textField(130px);
    display: block;
    float: left;
  }

}
