/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
/* line 4, FirstName.scss */
#FirstName label {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  display: inline-block;
  position: relative;
  font-family: "Open Sans Bold";
  display: block;
  padding: 5px 0px;
}
/* line 10, FirstName.scss */
#FirstName input {
  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid #e3e3e3;
  width: 270px;
  height: 35px;
  display: block;
  float: left;
}
/* line 31, ../../global/global.scss */
#FirstName input.focus {
  border: 1px solid #2377c5;
}
