/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
/* line 3, Label.scss */
label {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  display: inline-block;
  position: relative;
}

/* line 7, Label.scss */
.information {
  font-style: italic;
  font-size: 12px;
}
