/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
/* line 3, Footer.scss */
footer {
  background-color: #104477;
  height: 207px;
  position: relative;
  width: 100%;
  display: block;
  height: 207px;
  bottom: 0px;
}
