/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
/* line 3, Link.scss */
a {
  font-family: inherit;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #0D7EC0;
  text-decoration: none;
}

/* line 12, Link.scss */
a:hover {
  text-decoration: underline;
}
