@import "../../global/global.scss";

a {
  font-family: inherit;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #0D7EC0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
