@import "../../global/global.scss";

* {
  margin: 0;
  line-height: 1.2;
}

html {
  display: table;
  width: 100%;
  height: 100%;
  color: #888;
  text-align: center;
  font-family: sans-serif;
}

body {
  display: table-cell;
  margin: 2em auto;
  vertical-align: middle;
}

h1 {
  color: #555;
  font-weight: 400;
  font-size: 2em;
}

p {
  margin: 0 auto;
  width: 280px;
}

@media only screen and (max-width: 280px) {

  body, p {
    width: 95%;
  }

  h1 {
    font-size: 1.5em;
    margin: 0 0 0.3em;

  }

}
