/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
/* line 3, ErrorPage.scss */
* {
  margin: 0;
  line-height: 1.2;
}

/* line 8, ErrorPage.scss */
html {
  display: table;
  width: 100%;
  height: 100%;
  color: #888;
  text-align: center;
  font-family: sans-serif;
}

/* line 17, ErrorPage.scss */
body {
  display: table-cell;
  margin: 2em auto;
  vertical-align: middle;
}

/* line 23, ErrorPage.scss */
h1 {
  color: #555;
  font-weight: 400;
  font-size: 2em;
}

/* line 29, ErrorPage.scss */
p {
  margin: 0 auto;
  width: 280px;
}

@media only screen and (max-width: 280px) {
  /* line 36, ErrorPage.scss */
  body, p {
    width: 95%;
  }

  /* line 40, ErrorPage.scss */
  h1 {
    font-size: 1.5em;
    margin: 0 0 0.3em;
  }
}
