@import "../../global/global.scss";

.RegisterCreateUserProfile {
  padding: 30px 0px 150px 30px;

  .OutsidePanel {

    .h1 {
      text-align:center;
    }
  }

  .GenericButton {
    @include genericButton(99px);
  }

  .ClearButton {
    @include  clearButton(99px);
    text-align: left;
  }
}
