/*
 * Fonts
 */
/*
 * colors
 */
/*
 * Generic block elements
 */
/* line 3, RegisterCreateUserProfile.scss */
.RegisterCreateUserProfile {
  padding: 30px 0px 150px 30px;
}
/* line 8, RegisterCreateUserProfile.scss */
.RegisterCreateUserProfile .OutsidePanel .h1 {
  text-align: center;
}
/* line 13, RegisterCreateUserProfile.scss */
.RegisterCreateUserProfile .GenericButton {
  background-color: #8cb529;
  border: 1px solid #d0cdc7;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 10px 0px;
  width: 99px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 17, RegisterCreateUserProfile.scss */
.RegisterCreateUserProfile .ClearButton {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  font-weight: 700;
  text-align: center;
  padding: 10px 0px;
  width: 99px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}
